node_modules
*.map
tsconfig.tsbuildinfo
tests
test
__tests__
__test__
examples
coverage
.github
.env*
jest.config.js
.eslintrc.js
.eslintignore
.prettierignore
prettier.config.js
release.config.js
commitlint.config.js
jsdom-env.js
.editorconfig
.babelrc.js
.browserslistrc
.yarnrc
rollup.config.js
tools
# source code
src
tsconfig.json